<footer>
    <div class="footer_introduction">
        <!-- logo link path -->
        <img src="#" alt="">
        <p> © Copyright 2023. All rights reserved </p>
        <p> Made in Canada with </p>
        <!-- create icon and links for  social media -->
    </div>
    <div class="product">
        <h3>Product</h3>
        <ul>
            <!-- link path  -->
            <li><a href="#">Buy Crypto</a></li>
            <li><a href="#">Market</a></li>
            <li><a href="#">Trade</a></li>
            <li><a href="#">Exchange</a></li>
            <li><a href="#">Our Fees</a></li>
        </ul>
    </div>
    <div class="learn">
        <ul>
            <!-- ink path -->
            <li><a href="#">What is Bitcoin</a></li>
            <li><a href="#">What is Ethereum</a></li>
            <li><a href="#">what is Litecoin</a></li>
            <li><a href="#">What is Ripple</a></li>
            <li><a href="#">What is Doge</a></li>
            <li><a href="#">What is Shiba Inu</a></li>
            <li><a href="#">What is Solana</a></li>
        </ul>
    </div>
    <div class="company">
        <h3>company</h3>
        <ul>
            <!-- link path -->
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</footer>