<footer>
    <div class="footer_introduction">
        <!-- logo link path -->
        <img src="#" alt="">
        <p> © Copyright 2023. All rights reserved </p>
        <p> Made in Canada with </p>
        <!-- create icon and links for  social media -->
    </div>
    <div class="product">
        <h3><strong>Product</strong></h3>
        <ul>
            <!-- link path  -->
            <li><a href="#" class="link">Buy Crypto</a></li>
            <li><a href="#" class="link">Market</a></li>
            <li><a href="#" class="link">Trade</a></li>
            <li><a href="#" class="link">Exchange</a></li>
            <li><a href="#" class="link">Our Fees</a></li>
        </ul>
    </div>
    <div class="learn">
        <ul>
            <!-- ink path -->
            <li><a href="#" class="link">What is Bitcoin</a></li>
            <li><a href="#" class="link">What is Ethereum</a></li>
            <li><a href="#" class="link">what is Litecoin</a></li>
            <li><a href="#" class="link">What is Ripple</a></li>
            <li><a href="#" class="link">What is Doge</a></li>
            <li><a href="#" class="link">What is Shiba Inu</a></li>
            <li><a href="#" class="link">What is Solana</a></li>
        </ul>
    </div>
    <div class="company">
        <h3><strong>Company</strong></h3>
        <ul>
            <!-- link path -->
            <li><a href="#" class="link">About Us</a></li>
            <li><a href="#" class="link">Contact Us</a></li>
        </ul>
    </div>
</footer>