<nav>
    <img class="logo" src="" alt="">
    <ul>
        <li><a href="purchase">Buy Crypto</a></li>
        <li><a href="market">Market</a></li>
        <li><a href="trade">Trade</a></li>
        <li><a href="learn">Learn</a></li>
    </ul>
    <div class="login">
        <a href="#">Connect</a>
    </div>
</nav>
