<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- check link path -->
    <link rel="stylesheet" href="../css/MotherStyle.css">
    <link rel="stylesheet" href= "<%= style %>" />
    <!-- check link path -->
    <script src="files/js/script.js"></script>
    <title>Crypto Exchange <%= title %> </title>
</head>
<body>
