<nav>
    <img class="logo" src="../assets/pics/1x/Asset 1.png" alt="">
    <ul>
        <li><a href="/" class="link">Home</a></li>
        <li><a href="purchase" class="link">Purchase</a></li>
        <li><a href="market" class="link">Market</a></li>
        <li><a href="trade" class="link">Trade</a></li>
        <li><a href="learn" class="link">Learn</a></li>
    </ul>
    <div class="login">
        <a href="#" class="link">Connect</a>
    </div>
</nav>
