<%- include('partials/head.ejs', {title:"Dash Board", style: style}) %>
<%- include('partials/header.ejs') %>


<div class="container">
    <div class="sidebar">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="planet-outline"></ion-icon></span>
                    <span class="title">Setting</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="albums-outline"></ion-icon></span>
                    <span class="title">Post</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="layers-outline"></ion-icon></span>
                    <span class="title">Note</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="portfolio">
        
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        let listItems = document.querySelectorAll('.sidebar ul li');

        function setActiveLink() {
            listItems.forEach((item) => item.classList.remove('focused'));
            this.classList.add('focused');
        }

        listItems.forEach((item) => {
            item.addEventListener('mousedown', setActiveLink);
        });
    });
</script>

<%- include('partials/footer.ejs') %>
    <!-- give path for js -->