/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
    background-color: #97c2e8;
	height: 130vh;
    width: 100%;
}

body a {
	text-decoration: none;
    font-size: 20px;
	color: inherit;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #97c2e8;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
	align-items: center;
	gap: 25px;
    width: 50%;
}

nav a {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: inherit;
	gap: 25px;
}

nav .logo {
    width: 5%;
    height: 10%;
}


/* Make animation hover for buttons */
.link {
	position: relative;
	display: inline-block;
	justify-content: center;
}
.link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 4px;
	scale: 0 1;
	transform-origin: right;
	transition: scale 0.5s;
}
.link:hover::before {
	scale: 1;
	transform-origin: left;
}



footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #97c2e8;
    font-family: 'Poppins', sans-serif;
}



