
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#">
    <title>Dashboard </title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="#" alt="">
        </div>
        <div class="nav-links">
            <ul>
                <!-- create a box here to display remaining fund here -->
                <li><a href="#">Deposit</a></li>
                <li><a href="#">Withdraw</a></li>
            </ul>
        </div>
        <div class="wallet_address">
            <!-- give algorithm here. -->
            <h2>Connect your wallet</h2>
            <input type="text" id="#" placeholder="Enter your wallet address">
        </div>
    </nav>
    <div class="container">
        <div class="sidebar">
            <!-- put sidebar buttons here. -->
        </div>
        <div class="main_content">

        </div>
    </div>
    
</body>
</html>

<%- include('partials/footer.ejs') %>
    <!-- give path for js -->
<script src="#"></script>
