
<div class="container">
    <div class="headd-title">
        <h1>What is <%= coin %></h1>
        <p><%= coin_explanation %></p>
        <button>BUY <%= coin_name %></button>
    </div>
    <-include('partials/tradingView.ejs') %>
    <div class=""></div>
</div>

