<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <Head>
        <!-- give path logo img here -->
        <img src="#" alt="">
    </Head>
    <div class="container">
        <h1>Log In</h1>
        <!-- give algorithm here for checking wallet log in  -->
        <input type="text" id="#">
        <button id="#"> check</button>
    </div>

    <div class="row px-5">
        <footer>&copy; 2023</footer>
    </div>
    <!-- give src path here -->
    <script src="#"></script>
</body>
</html>