<%- include('partials/head.ejs', {title:"Market", style: "#.css"}) %>
<%- include('partials/header.ejs') %>

<!-- connect trading view API to server.js and import price -->

<div class="container">
        <h1>Market Overview</h1>
        <!-- find some sample to make a table for price list -->
</div>

<%- include('partials/footer.ejs') %>