<%- include('partials/head.ejs', {title:"Market", style: "#.css"}) %>
<%- include('partials/header.ejs') %>

<div class="container">
        <h1>Market Overview</h1>
        
</div>

<%- include('partials/footer.ejs') %>