<%- include('partials/head.ejs', {title:"Buy Crypto"}) %>
<%- include('partials/header.ejs') %>

<div class="purchase">
    <div class="buy_infor">
        <h1>Buy Crypto</h1>
        <!-- give css class name -->
        <p class="#">Various payment methods available</p>
        <p>Supported Payment Methods</p>
        <div class="icon_payment">
            <img src="https://bin.bnbstatic.com/static/images/ocbs/payments/visa.svg" class="css-s5vap5">
            <img src="https://bin.bnbstatic.com/static/images/ocbs/payments/mastercard.svg" class="css-s5vap5">
            <img src="https://bin.bnbstatic.com/static/images/ocbs/payments/applepay.svg" class="css-s5vap5">
            <img src="https://bin.bnbstatic.com/static/images/ocbs/payments/googlepay.svg" class="css-s5vap5">
        </div>
    </div>
    <div class="buy_section">
        <div class="buy_or_sell">
            <!-- make list here -->
            <button class="What_coin">BTCCAD</button>
            <div class="buy_box">
                <div class="spend">
                    
                </div>
            </div>

            <div class="sell_box">

            </div>
        </div>

    </div>
</div>