<%- include('partials/head.ejs', {title:"Buy Crypto"}) %>
<%- include('partials/header.ejs') %>

<div class="purchase">
    <div class="buy_infor">
        <h1>Buy Crypto</h1>
        <!-- give css class name -->
        <p class="#">Various payment methods available</p>
        <p>Supported Payment Methods</p>
        <div class="icon_payment">
            <img src="https://bin.bnbstatic.com/static/images/ocbs/payments/visa.svg" class="css-s5vap5">
            <img src="https://bin.bnbstatic.com/static/images/ocbs/payments/mastercard.svg" class="css-s5vap5">
            <img src="https://bin.bnbstatic.com/static/images/ocbs/payments/applepay.svg" class="css-s5vap5">
            <img src="https://bin.bnbstatic.com/static/images/ocbs/payments/googlepay.svg" class="css-s5vap5">
        </div>
    </div>
    <div class="buy_section">
        <div class="buy_or_sell">
            <!-- make list here -->
            <button class="What_coin">BTCCAD</button>
            <div class="buy_box">
                <!-- give css and js items to select menu -->
                <select name="#" id="#">
                    <option value="#"></option>
                </select>
                <div class="buy_with_CAD_amount">
                    <input type="text" placeholder="Enter Amount of CAD">
                    <!-- give js function to this -->
                </div>
                <div class="receive_with_Coin_amount">
                    <!-- give js function to this -->
                    <button id="#">Buy</button>
                </div>
            </div>

            <div class="sell_box">
                <!-- give css and js items to select menu -->
                <select name="#" id="#">
                    <option value="#"></option>
                </select>
                <div class="sell_with_Coin_amount">
                    <input type="text" placeholder="Enter Amount of Coin">
                    <!-- give js function to this -->
                </div>
                <div class="CAD_amount_remains">
                    <!-- give js function to this -->
                    <button id="#">Sell</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
```